.icons{
	color: white;
	font-size: 2em;
}


.socials-list-container{
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 3em;
	align-items: center;
	ul{
		list-style: none;
		padding: 0;
		li{
			margin-bottom: 2em;
		}
	}
}

@media(max-width: 1300px){
	.socials-list-container{
		display: none;
	}	
}