@import '../../rwd_variables.scss';
.loader-container{
	z-index: 1000;
	position: absolute;
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	top: 0;
	background: #3d3393;  /* fallback for old browsers */
	background: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	animation: gradientBG 10s ease infinite;
	transition: 1s all ease-out;
	.loading-title{
		font-family: $roboto;
		text-transform: uppercase;
		position: absolute;
		color: white;
		font-weight: 200;
		letter-spacing: 2px;
		font-size: 3em;
		transition: .7s all ease;
	}
}


@media(max-width: $mobile){
	.loader-container{
		overflow-x: visible;
		.loading-title{
			font-size: 2em;
		}
	}
}


@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}