.loader-container{
	z-index: 1000;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	top: 0;
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-size: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	animation: gradientBG 10s ease infinite;
	transition: 3s all ease-out;
	cursor: none !important;
	pointer-events: none;
	.progress-bar-container{
		display: flex;
		border-radius: 50%;
		width: 400px;
		height: 400px;
		justify-content: center;
		align-items: center;
	}
	.circle-progress{
		position: absolute;
		left: 0;
		top: 0;
	}
	img{
		position: absolute;
	}
}

.circular-progress{
	transform: rotate(-90deg);
	z-index: -1;
	background-color: transparent;
}
.svg-circle{
	transition: stroke-dashoffset 2s ease-in-out;		
	background-color: transparent;
	z-index: -1;
}

.hide{
	display: none;
}

@media(max-width: 550px){
	.circular-progress{
		width: 250px;
		height: 250px;
	}
	.loading-logo{
		width: 60px;
		height: 60px;
	}
}


@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}