@import '../../rwd_variables.scss';

.landing-page-data-container{
	display: flex;
	flex-direction: row;
	margin-left: 6em;
	margin-right: 3em;
	margin-top: 3em;
	height: 100%;
	justify-content: center;
	align-items: center;
	transition: .4s all ease-in-out;
	.left-side-container{
		flex: 1;
		margin-top: 1em;
		font-size: 3em;
		margin-left: 1.3em;
		.left-side-title{
			color: $tirkizna;
			margin: 0;
		}
		.left-side-description{
			margin: 0;
			color: white;
		}
		.left-side-buttons-container{
			padding-top: 0.2em;
			button{
				position: relative;
				display: inline-block;
				background: linear-gradient($tirkizna, $tirkizna);
				background-size: 0% 0%;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				border: 2px solid $tirkizna;
				border-radius: 4px;
				font-size: 1.1rem;
				color: $tirkizna;
				padding: 0.8em 3.3em;
				transition: background-size .5s, color .5s;
				&:hover{
					background-size: 100% 100%;
					color: white;
				}				
			}
			.download-button{
				justify-content: end;
				margin-left: 3em;
			}
		}
	}
	.right-side-container{
		flex: 1;
		margin-right: 2em;
		margin-left: 2em;
		svg{
			width: 90%;
			height: 90%;
		}
	}
}