@import '../../rwd_variables.scss';

@media(max-width: $biggerIpad){
	.landing-page-data-container{
		margin-left: 0;
	}
	.contact-button, .download-button{
		font-size: 1rem;
		padding: 0.4em 1.7em;
	}
}

@media(max-width: $ipad){
	.landing-page-data-container{
		flex-direction: column-reverse;
		.right-side-container{
			flex: 1;
			svg{
				width: 370px;
				height: 370px;
			}
		}
	}
}

@media(max-width: $mobile){
	.landing-page-data-container{
		margin: 0;
		.left-side-container{
			font-size: 2em;
			margin-left: 0;
			.left-side-title-container, .left-side-description-container{
				margin-left: 5%;
			}
		}
		.right-side-container{
			margin-top: 1em;
		}
	}
	.left-side-buttons-container{
		display: flex;
		justify-content: center;
		margin-top: 30px;
		.download-button{
			display: none;
		}
		.contact-button{
			padding:  0.5em 3em;
			font-size: 0.6em;
		}
	}
	.right-side-container{
		svg{
			width: 200px;
			height: 200px;
		}
	}
}

@media(max-height: 570px){
	.landing-page-data-container{
		margin-top: 40%;
		.left-side-buttons-container{
			display: flex;
			margin-top: 30px;
		}
		.right-side-container{
			svg{
				width: 200px;
				height: 200px;
			}
		}
	}
}