@import '../../rwd_variables.scss';

@media(max-width: 1300px){
	.contact-button, .download-button{
		font-size: 1rem;
		padding: 0.4em 1.7em;
	}
}

@media(max-width: 1100px){
	.landing-page-data-container{
		flex-direction: column;
	}
}

@media(max-width: 800px){
	.landing-page-data-container{
		margin: -5em 0 0 0;
		.left-side-container{
			font-size: 2em;
			margin: 0;
			text-align: center;
		}
		.right-side-container{
			margin-top: 1em;
		}
	}
	.left-side-buttons-container{
		.download-button{
			display: none;
		}
		.contact-button{
			position: absolute;
			top: 115%;
			width: 50%;
			left: 0;
			right: 0;
			margin: auto auto;
		}
	}
}