.custom-cursor{
	z-index: 1000;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	pointer-events: none;
	overflow: hidden;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 0;
	left: 0;
	backdrop-filter: invert(.7);
	transition: .3s all ease;
	transition-property: background, transform;
}


.grow-cursor{
	transform: scale(2);
}