.custom-cursor{
	z-index: 1000;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	pointer-events: none;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	background-color: white;
	transition: .3s all ease;
	transition-property: background, transform;
}


.grow-cursor{
	transform: scale(2);
	opacity: 0.5;
	-webkit-transform: scale(2);
	-ms-transform: scale(2);
}

@media(max-width: 1100px){
	.custom-cursor{
		display: none;
	}
	*{
		cursor: pointer;
	}
}