@import '../../rwd_variables.scss';

.projects-page-data-container{
	display: none;
	flex-direction: row;
	margin-left: 6em;
	margin-right: 3em;
	margin-top: 3em;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	width: 90vw;
	transition: .4s all ease-in-out;
	.projects-page-data-left{
		display: flex;
		flex-direction: row;
		flex: 1;
		font-size: 2.4em;
		margin-left: 1.3em;
		justify-content: flex-start;
		color: rgba(255, 255, 255, 0.507);
		font-weight: 100;
		ul{
			padding: 0;
			list-style: none;
			display: inline;
			.project{
				display: block;
				margin-bottom: 1.2em;
				text-transform: lowercase; 
				transition: .4s all ease-in-out;
				&:hover, &:focus{
					color: rgb(255, 255, 255);
					text-shadow: 0 0 1px #aaa, 0 0 1px #aaa, 0 0 1px #aaa;
				}
			}
		}
	}
	.projects-page-data-right{
		flex: 1;
		display: flex;
		flex-direction: column;
		margin-right: 2em;
		margin-left: 2em;
		position: relative;
		width: 500px;
		height: 570px;
		.project-image-gallery{
			flex: 3;
			position: relative;
			display: block;
			.square{
				z-index: 0;
				width: 600px;
				height: 350px;
				border: 2px solid $tirkizna;
				background-color: $background;
				position: absolute;
			}
			.third-square{
				z-index: 0;
				top: 1em;
			}
			.second-square{
				top: 3em;
				left: 2em;
				z-index: 1;
			}
			.first-square{
				top: 5em;
				left: 4em;
				z-index: 2;
				img{
					transition: 2s all ease;
					width: 600px;
					height: 350px;
				}
			}
		}
		.project-description{
			flex: 1;
			display: flex;
			align-items: flex-start;
			transition: 2s all ease;
			.description{
				font-size: 1.2em;
				color: white;
				font-weight: 300;
			}
		}
	}
}