@import "../rwd_variables.scss";

*{
	font-family: 'Roboto', sans-serif;
}

.form-input-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	.label-for-form{
		color: $tirkizna;
	}
}

.form-button-container{
	.btn-outline-primary{
		border-color: $tirkizna;
		color: $tirkizna;
		padding: 7px 40px;
		width: 100%;
		&:hover{
			background-color: $tirkizna;
			color: white;
		}
	}
}

.form-group{
	width: 100%;
}
