@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$tirkizna: #00bfa6e7;
$background: #1e2124;
$biggerIpad: 1300px;
$ipad: 1100px;
$mobile: 850px;

