@import '../../rwd_variables.scss';

.navigation-title-and-icon-container{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 2em 3em 0 0;
  transition: .4s all ease;
  z-index: 12;
	.icon-container{
		flex: 1;
		img{
			cursor: pointer;
			margin-left: 3em;
			width: 60px;
			height: 60px;
			transition: .4s ease all;
			&:hover{
				transform: scale(1.2);
			}
		}
	}
	.title-container{
		opacity: 0;
		flex: 1;
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-size: 0.9em;
		transition: .3s ease all;
		h1{
			display: inline-block;
			font-weight: 100;
			letter-spacing: 3px;
		}
	}
	.navigation-container{
		flex: 1;
		display: flex;
		justify-content: flex-end;
		color: white;
		z-index: 2;
		.links{
			font-weight: 300;
			list-style: none;
			padding: 0;
			margin-right: 2em;
			.link{
				text-decoration: none;
			}
			li{
				display: inline;
				margin-left: 5em;
				padding: 10px;
				letter-spacing: 1px;
				overflow: hidden;
				color: white;
				text-decoration: none;
				transition: .4s all ease;
				&:hover{
					color: $tirkizna;
				}
			}
		}
	}
}

@media(max-width: $biggerIpad){
	.navigation-title-and-icon-container{
		margin-left: 4em;
		.title-container{
			text-align: start;
		}
		.icon-container, .navigation-container{
			display: none;
		}
	}
}

@media(max-width: $mobile){
	.navigation-title-and-icon-container{
		.title-container{
			font-size: 0.7em;
			h1{
				font-weight: 300;
			}
		}
	}
}

@media(max-width: 400px){
	.navigation-title-and-icon-container{
		margin-left: 2em;
	}
}


@-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}