@import "./rwd_variables.scss";

*{
	background-color: #343a40;
}

.login-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	.img-and-login-form-container{
		padding: 45px;
		border: 2px solid $tirkizna;
		border-radius: 15px;
		width: 40%;
		height: 60%;
		.img-container{
			display: flex;
			justify-content: center;
		}
		.login-form-container{
			justify-content: center;
			margin-top: 50px;
		}
	}
	
}