@import "./rwd_variables.scss";

*{
	padding: 0;
	margin: 0;
}

body, html{
	background-color: #343a40;
	overflow: hidden;
}

.login-parent-container{
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	.login-container{
		width: 22rem;
		.img-and-login-form-container{
			.img-container{
				display: flex;
				justify-content: center;
			}
		}
	}
}

.cms-container{
	display: flex;
	flex-direction: column;
	.top-container{
		background-color: #161a1d;
		border-bottom: 1px solid white;
		margin-bottom: 50px;
		padding: 10px 0;
		position: relative;
		.top-image-and-header-container{
			display: flex;
			align-items: center;
			color: white;
			.logout-button-container{
				position: absolute;
				right: 10px;
			}
		}
		
	}
}

@media(max-height: 770px){
	body,html{
		overflow-y: auto;
	}
}